/* This file is for your main application css. */

.index-actions button.action-edit,
.index-actions button.action-delete {
  margin-left: 2px;
}

.help-block {
  color: #dd4b39 !important;
  font-weight: 600;
}